<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Dynamix{% endblock %}</title>
  <style>
    body {
      margin: 0;
      background: #f8f8f8;
      font-family: 'Work Sans', sans-serif;
      font-weight: 800;
    }

    main {
      margin-top: 80px; /* Push content below nav bar */
      padding: 20px;
      min-height: calc(100vh - 80px);
      background: #ffffff;
    }
  </style>
</head>
<body>

  {% include "navbar.html" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.20.0/matter.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>
