<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pendule Physique</title>
<script src="matter.js"></script>
<script defer src= "pendule.js"></script>
<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #f4f4f4;
        }
        canvas {
            background: white;
            margin-top: 10px;
        }
        .controls {
            margin-top: 10px;
        }
</style>
</head>
<body>
 
    <div class="controls">
        <button onclick="resetPendulum()">Réinitialiser</button>
    </div>
 
</body>
</html>