<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation Physique</title>
    <script type="text/javascript" src="../simulation/matter.js"></script>
</head>
<body>  
    <script>
        console.log(Matter);

        // Module aliases
        var Engine = Matter.Engine,
            Render = Matter.Render,
            Runner = Matter.Runner,
            Bodies = Matter.Bodies,
            Composite = Matter.Composite;

        // Création de l'engine
        var engine = Engine.create();

        // Création du rendu
        var render = Render.create({
            element: document.body,
            engine: engine,
            options: {
                width: 800,
                height: 600,
                wireframes: false
            }
        });

        // Création de deux boîtes et d'un sol
        var boxA = Bodies.rectangle(400, 200, 80, 80);
        var boxB = Bodies.rectangle(450, 50, 80, 80);
        var ground = Bodies.rectangle(400, 610, 810, 60, { isStatic: true });

        // Ajout des objets dans le monde
        Composite.add(engine.world, [boxA, boxB, ground]);

        // Démarrer le rendu
        Render.run(render);

        // Création et exécution du moteur
        var runner = Runner.create();
        Runner.run(runner, engine);
    </script>

</body>
</html>
