<!DOCTYPE html>
<html lang="fr">
<head>
<title>Simulateurs</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<style>
 
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

.groupeStatique{
      margin-bottom: 40px;
      text-align: center;
    }
</style>
</head>
<body>
  {% include "navbar.html" %}
<!-- !PAGE WEB! -->
<div class="w3-main w3-content w3-padding" style="max-width:1300px;margin-top:50px">

  <!-- Simulateur Statique -->

  <div class="groupeStatique">
    <a href="http://127.0.0.1:8000/simulation/statique/">
      <img src="../static/imgStatique.png" alt="statique" style="width: 500px;">
</a>
<h3>Simulateur Statique</h3>
<p>Simulation est une analyse qui permet d'étudier le comportement d'un objet ou d'une structure soumis à des charges constantes.</p>
  </div>

  <!-- Première colonne-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="simulation">
    <div class="w3-third">
        <a href="http://127.0.0.1:8000/simulation/pendule/">
            <img src="../static/imgPendule.png" alt="pendule" style="width:80%">
      </a>
      <h3>Pendule</h3>
      <p>Simulation permetant d'analyser le mouvement d'un pendule simple sous l'effet de la gravité.</p>
    </div>
    <div class="w3-third">
        <a href="http://127.0.0.1:8000/simulation/lancer/">
			<img src="../static/imgLancer.png" alt="lancer" style="width:80%">
      </a>
      <h3>Lancer</h3>
      <p>Simulation  modélise le mouvement d'un objet projeté dans l'air sous l'effet d'une force initiale.</p>
    </div>
    <div class="w3-third">
        <a href="http://127.0.0.1:8000/simulation/collisions/">
            <img src="../static/collisions.jpg" alt="collisions" style="width:80%">
      </a>
      <h3>Collisions</h3>
      <p>Simulation modélisant l'interaction entre deux ou plusieurs objets lorsqu'ils entrent en contact.</p>
    </div>
  </div>
  
  <!-- Deuxième colonne-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-third">
      <a href="http://127.0.0.1:8000/simulation/frottement/">
          <img src="../static/image.png" alt="frottement" style="width:80%">
    </a>
    <h3>Frottement</h3>
    <p>Simulation permet de modéliser les forces de résistance qui s'opposent au mouvement entre deux surfaces en contact.</p>
  </div>
    <div class="w3-third">
        <a href="http://127.0.0.1:8000/simulation/densite/">
            <img src="../static/image.png" alt="densité" style="width:80%">
      </a>
      <h3>Densité</h3>
      <p>La simulation permet d'étudier l'interaction de différents objets de masse dans des milieux de densité variée.</p>
    </div>
    <div class="w3-third">
        <a href="http://127.0.0.1:8000/simulation/gravite/">
            <img src="../static/imgGravite.png" alt="gravite" style="width:80%">
      </a>     
      <h3>Gravité</h3>
      <p>Simulation modélisant l'interaction gravitationnelle entre plusieurs corps célestes.</p>
    </div>
  
</div>
</script>
</body>
</html>


