<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simulation Matter.js</title>
  <style>
    canvas {
      border: 1px solid rgb(204, 38, 38);
    }
  </style>
</head>
<body>
  <h1> </h1>

  <!-- Inclusion de Matter.js via un CDN -->
  <script src="https://cdn.jsdelivr.net/npm/matter-js"></script>
  
  <!-- Inclusion de ton fichier JavaScript local -->
  <!-- <script src="../Simulation%20statique/simulationStatique.js"></script> -->
</body>
</html>
