{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<title>Simulateurs</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>

<!-- !PAGE WEB! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- Première colonne-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="simulation">
    <div class="w3-quarter">
        <a href="http://127.0.0.1:8000/simulation/pendule/">
            <img src="../static/image.png" alt="pendule" style="width: 100%">
      </a>
      <h3>Pendule</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
        <a href="http://127.0.0.1:8000/simulation/lancer/">
			<img src="../static/image.png" alt="pendule" style="width: 100%">
      </a>
      <h3>Lancer</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
        <a href="http://127.0.0.1:8000/simulation/collisions/">
            <img src="../static/image.png" alt="pendule" style="width: 100%">
      </a>
      <h3>Collisions</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      <p>What else?</p>
    </div>
    <div class="w3-quarter">
        <a href="http://127.0.0.1:8000/simulation/">
            <img src="../static/image.png" alt="pendule" style="width: 100%">
      </a>
      <h3>Simulation 4</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>
  
  <!-- Deuxième colonne-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
        <a href="http://127.0.0.1:8000/simulation/">
            <img src="../static/image.png" alt="pendule" style="width: 100%">
      </a>
      <h3>Simulation 5</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
        <a href="http://127.0.0.1:8000/simulation/">
            <img src="../static/image.png" alt="pendule" style="width: 100%">
      </a>
      <h3>Simulation 6</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
        <a href="http://127.0.0.1:8000/simulation/">
            <img src="../static/image.png" alt="pendule" style="width: 100%">
      </a>     
      <h3>Simulation 7</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
        <a href="http://127.0.0.1:8000/simulation/">
            <img src="../static/image.png" alt="pendule" style="width: 100%">
      </a>
      <h3>Simulation 8</h3>
      <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>  
</div>
</script>

</body>


{% endblock %}


